<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Trovantenato - Nova mensagem</title>
</head>
<body style="background-color: #eaeced;font-family: 'Montserrat', sans-serif; display: flex; align-items: center; justify-content: center; padding: 28px;">
    <div style="background-color: #fff; border-radius: 8px; height: auto; padding: 8px 70px; align-self: center;  margin: auto;">
        <h1 style="text-align: center;">Olá</h1>
        <h4 style="text-align: center; color: #6E6D72">Você recebeu uma nova mensagem</h4>
        <p>
            <span style="color: #6E6D72">Nome: </span> <b>{0}</b>
        </p>
        <p>
            <span style="color: #6E6D72">E-mail: </span> <b>{1}</b>
        </p>
        <p>
            <span style="color: #6E6D72">Assunto: </span> <b>{2}</b>
        </p>
        <p>
            <span style="color: #6E6D72">Mensagem: </span> <b>{3}</b>
        </p>
        <br>
        <hr>
        <h4 style="text-align: center; color: #6E6D72">Trovantenato</h4>
        <div style="text-align: center;">
            <!--<img src="" width="60" height="60">-->
        </div>
    </div>
</body>
</html>